alabaster==0.7.16
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
arrow==1.3.0
# -e git+ssh://git@github.com/jericojr23/Academic-Research-Unit-Database.git@4e443706aa8d2db2380a25e27717f77b60012e50#egg=aru&subdirectory=aru_venv
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bibtexparser==1.4.1
blinker==1.7.0
cachelib==0.9.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.3.7
docutils==0.20.1
e==1.4.5
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fake-useragent==1.5.1
Faker==25.2.0
filelock==3.12.4
Flask==3.0.2
Flask-Caching==2.3.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flask-RESTful==0.3.10
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
fonttools==4.53.0
fpdf==1.7.2
free-proxy==1.1.1
gotrue==2.1.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.25.2
idna==3.6
imagesize==1.4.1
importlib_metadata==8.2.0
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.0
nest-asyncio==1.6.0
numpy==1.26.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.1
pdfkit==1.0.0
pillow==10.3.0
platformdirs==3.11.0
plotly==5.23.0
postgrest==0.15.0
# psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.22
pydantic==2.6.2
pydantic_core==2.16.3
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
realtime==1.0.2
referencing==0.34.0
reportlab==4.2.2
requests==2.32.2
retrying==1.3.4
rpds-py==0.18.0
scholarly==1.7.11
selenium==4.21.0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.29
storage3==0.7.0
StrEnum==0.4.15
supabase==2.3.7
supafunc==0.3.3
tenacity==9.0.0
tomli==2.0.1
trio==0.25.1
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.24.5
websockets==11.0.3
Werkzeug==3.0.1
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.2.0
zipp==3.20.0
